In [1]:
import pandas as pd
from models.tsp import Salesman

In [2]:
def get_distance_matrix():
    d = {'Madrid': [0, 667, 902, 326, 548],
     'Roma': [667, 0, 1290, 962, 295],
     'Berlin': [902, 1290, 0, 998, 865],
     'Barcelona': [326, 962, 998, 0, 293],
     'Milán': [548, 295, 865, 293, 0]}

    df = pd.DataFrame(data=d, index=['Madrid', 'Roma', 'Berlin', 'Barcelona', 'Milán'])
    return df

In [17]:
places = ['Madrid', 'Roma', 'Berlin', 'Barcelona', 'Milán']
n = len(places)
distances = get_distance_matrix()
distances

           Madrid  Roma  Berlin  Barcelona  Milán
Madrid          0   667     902        326    548
Roma          667     0    1290        962    295
Berlin        902  1290       0        998    865
Barcelona     326   962     998          0    293
Milán         548   295     865        293      0

In [4]:
mdelo = Salesman()
mdelo.parameters(distances, places)
mdelo.variables()
mdelo.objetive()
mdelo.constrains()
mdelo.run_model()

route with total distance 3106 found: Madrid -> Berlin -> Roma -> Milán -> Barcelona -> Madrid

In [1]:
902+1290+295+293+326

3106

In [10]:
places

['Madrid', 'Roma', 'Berlin', 'Barcelona', 'Milán']

In [16]:
mdelo.y[4].x

1.0

In [6]:
dists = [[83, 81, 113, 52, 42, 73, 44, 23, 91, 105, 90, 124, 57],
         [161, 160, 39, 89, 151, 110, 90, 99, 177, 143, 193, 100],
         [90, 125, 82, 13, 57, 71, 123, 38, 72, 59, 82],
         [123, 77, 81, 71, 91, 72, 64, 24, 62, 63],
         [51, 114, 72, 54, 69, 139, 105, 155, 62],
         [70, 25, 22, 52, 90, 56, 105, 16],
         [45, 61, 111, 36, 61, 57, 70],
         [23, 71, 67, 48, 85, 29],
         [74, 89, 69, 107, 36],
         [117, 65, 125, 43],
         [54, 22, 84],
         [60, 44],
         [97],
         []]

# number of nodes and list of vertices
n, V = len(dists), set(range(len(dists)))

In [21]:
V

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [20]:
from itertools import product
for (i, j) in product(V - {0}, V - {0}):
    if i != j:
        print(f'{i} - {j}')

1 - 2
1 - 3
1 - 4
1 - 5
1 - 6
1 - 7
1 - 8
1 - 9
1 - 10
1 - 11
1 - 12
1 - 13
2 - 1
2 - 3
2 - 4
2 - 5
2 - 6
2 - 7
2 - 8
2 - 9
2 - 10
2 - 11
2 - 12
2 - 13
3 - 1
3 - 2
3 - 4
3 - 5
3 - 6
3 - 7
3 - 8
3 - 9
3 - 10
3 - 11
3 - 12
3 - 13
4 - 1
4 - 2
4 - 3
4 - 5
4 - 6
4 - 7
4 - 8
4 - 9
4 - 10
4 - 11
4 - 12
4 - 13
5 - 1
5 - 2
5 - 3
5 - 4
5 - 6
5 - 7
5 - 8
5 - 9
5 - 10
5 - 11
5 - 12
5 - 13
6 - 1
6 - 2
6 - 3
6 - 4
6 - 5
6 - 7
6 - 8
6 - 9
6 - 10
6 - 11
6 - 12
6 - 13
7 - 1
7 - 2
7 - 3
7 - 4
7 - 5
7 - 6
7 - 8
7 - 9
7 - 10
7 - 11
7 - 12
7 - 13
8 - 1
8 - 2
8 - 3
8 - 4
8 - 5
8 - 6
8 - 7
8 - 9
8 - 10
8 - 11
8 - 12
8 - 13
9 - 1
9 - 2
9 - 3
9 - 4
9 - 5
9 - 6
9 - 7
9 - 8
9 - 10
9 - 11
9 - 12
9 - 13
10 - 1
10 - 2
10 - 3
10 - 4
10 - 5
10 - 6
10 - 7
10 - 8
10 - 9
10 - 11
10 - 12
10 - 13
11 - 1
11 - 2
11 - 3
11 - 4
11 - 5
11 - 6
11 - 7
11 - 8
11 - 9
11 - 10
11 - 12
11 - 13
12 - 1
12 - 2
12 - 3
12 - 4
12 - 5
12 - 6
12 - 7
12 - 8
12 - 9
12 - 10
12 - 11
12 - 13
13 - 1
13 - 2
13 - 3
13 - 4
13 - 5
13 - 6
13 - 7
13 - 8
13 - 9
13 - 10
13 - 11
13 - 12

In [8]:
for (i, j) in product(V - {0}, V - {0}):
    if i != j:
        model += y[i] - (n+1)*x[i][j] >= y[j]-n

14

In [9]:
c = [[0 if i == j
      else dists[i][j-i-1] if j > i
      else dists[j][i-j-1]
      for j in V] for i in V]

In [12]:
from itertools import product
from sys import stdout as out
from mip import Model, xsum, minimize, BINARY

# names of places to visit
places = ['Antwerp', 'Bruges', 'C-Mine', 'Dinant', 'Ghent',
          'Grand-Place de Bruxelles', 'Hasselt', 'Leuven',
          'Mechelen', 'Mons', 'Montagne de Bueren', 'Namur',
          'Remouchamps', 'Waterloo']

# distances in an upper triangular matrix
dists = [[83, 81, 113, 52, 42, 73, 44, 23, 91, 105, 90, 124, 57],
         [161, 160, 39, 89, 151, 110, 90, 99, 177, 143, 193, 100],
         [90, 125, 82, 13, 57, 71, 123, 38, 72, 59, 82],
         [123, 77, 81, 71, 91, 72, 64, 24, 62, 63],
         [51, 114, 72, 54, 69, 139, 105, 155, 62],
         [70, 25, 22, 52, 90, 56, 105, 16],
         [45, 61, 111, 36, 61, 57, 70],
         [23, 71, 67, 48, 85, 29],
         [74, 89, 69, 107, 36],
         [117, 65, 125, 43],
         [54, 22, 84],
         [60, 44],
         [97],
         []]

# number of nodes and list of vertices
n, V = len(dists), set(range(len(dists)))

# distances matrix
c = [[0 if i == j
      else dists[i][j-i-1] if j > i
      else dists[j][i-j-1]
      for j in V] for i in V]

model = Model()

# binary variables indicating if arc (i,j) is used on the route or not
x = [[model.add_var(var_type=BINARY) for j in V] for i in V]

# continuous variable to prevent subtours: each city will have a
# different sequential id in the planned route except the first one
y = [model.add_var() for i in V]

# objective function: minimize the distance
model.objective = minimize(xsum(c[i][j]*x[i][j] for i in V for j in V))

# constraint : leave each city only once
for i in V:
    model += xsum(x[i][j] for j in V - {i}) == 1

# constraint : enter each city only once
for i in V:
    model += xsum(x[j][i] for j in V - {i}) == 1

# subtour elimination
for (i, j) in product(V - {0}, V - {0}):
    if i != j:
        model += y[i] - (n+1)*x[i][j] >= y[j]-n

# optimizing
model.optimize()

# checking if a solution was found
if model.num_solutions:
    out.write('route with total distance %g found: %s'
              % (model.objective_value, places[0]))
    nc = 0
    while True:
        nc = [i for i in V if x[nc][i].x >= 0.99][0]
        out.write(' -> %s' % places[nc])
        if nc == 0:
            break
    out.write('\n')

route with total distance 547 found: Antwerp -> Mechelen -> Leuven -> Hasselt -> C-Mine -> Montagne de Bueren -> Remouchamps -> Dinant -> Namur -> Mons -> Waterloo -> Grand-Place de Bruxelles -> Ghent -> Bruges -> Antwerp