In [2]:
import mip
from datetime import datetime, timedelta
import random
import numpy as np
import pandas as pd

In [13]:
# Definir la cantidad de filas que deseas en el DataFrame
num_rows = 10

# Generar datos aleatorios para las columnas
jobs = [f"Job_{i}" for i in range(num_rows)]
durations = random.randint(1, 30)  # Duración aleatoria entre 1 y 30 días
start_dates = [datetime(2023, 7, np.random.randint(1, 25)) for _ in range(num_rows)]
due_dates = [start + timedelta(days=random.randint(1,25)) for start in start_dates]

# Open Shop Scheduling

In [ ]:
# A:[duration, due_date]
# duration_a = 10
# due_date = datetime(2022,7,10)
# jobs = {"A":[duration_a, due_date], "B":[random.randint(5,15)]}

In [37]:
# due_dates = [datetime(2023, 7, np.random.randint(10, 25)) for _ in range(num_rows)]
due_dates = [np.random.randint(10, 25) for _ in range(num_rows)]
due_dates

[23, 19, 15, 23, 11, 16, 18, 15, 16, 24]

In [39]:
durations = [random.randint(3,10) for _ in range(num_rows)]
durations

[3, 9, 8, 6, 5, 4, 6, 3, 10, 4]

In [41]:
data = {
    "Job":jobs,
    "duration_days": durations,
    "due_days": due_dates
}
pd.DataFrame(data)

     Job  duration_days  due_days
0  Job_0              3        23
1  Job_1              9        19
2  Job_2              8        15
3  Job_3              6        23
4  Job_4              5        11
5  Job_5              4        16
6  Job_6              6        18
7  Job_7              3        15
8  Job_8             10        16
9  Job_9              4        24

In [25]:
from mip import INTEGER

In [32]:
class OpenShop:
    '''Modelo Matematíco para asignar dias'''
    def __init__(self):
        ## start model
        self.model = mip.Model("compensator_day")

    def sets(self, n_jobs: int):
        self.jobs = n_jobs

    def add_variables(self):
        self.x = [[self.model.add_var(var_type= mip.BINARY, name=f"job{i} in position{j+1}°") for i in range(num_rows)] for j in range(num_rows)]

    def add_constrain

In [46]:
from mip import Model

openshop = Model()
x = [[openshop.add_var(var_type= mip.BINARY, name=f"job{i} in position{j+1}°") for i in range(num_rows)] for j in range(num_rows)]

In [34]:
for j in range(num_rows):

AttributeError: 'int' object has no attribute 'jobs'

In [17]:
p=.9
np.random.choice([1, 0],size=10,p=[p,1-p])

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 1])

In [18]:
6/32

0.1875

In [25]:
df_test = pd.DataFrame({"fecha":[datetime(2023,10,10), datetime(2023,11,12)]})
df_test['week'] = df_test['fecha'].apply(lambda x: x.isocalendar().week)

In [26]:
df_test

       fecha  week
0 2023-10-10    41
1 2023-11-12    45